[program:munged]
command=/usr/sbin/munged --foreground --syslog --key-file=/etc/munge/munge.key
user={{ munge_user }}
autostart=true
autorestart=true
startretries=10
stopsignal=TERM
stdout_logfile={{ supervisord_log_dir }}/munged.log
stderr_logfile={{ supervisord_log_dir }}/munged.err
priority=10
